# Mac sillyness
.DS_Store

# emacs temp files
*~
\#*\#

# JVM class files
*.class

# sbt compiled files, etc.
target

# components that are specific to what is being error checked
databases
sheets
xml/*.xml
